{% extends "base.html" %}

{% block title %}Quizzer - Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<div class="text-center">
    <h1 class="title">Edu Quest</h1>

    <div class="d-flex flex-column align-items-center">
        <a href="{{ url_for('login', user_type='student') }}" class="btn btn-primary mb-3">I am a Student</a>
        <a href="{{ url_for('login', user_type='teacher') }}" class="btn btn-secondary mb-3">I am a Teacher</a>
        <a href="{{ url_for('login', user_type='admin') }}" class="btn btn-secondary">I am an Admin</a>
    </div>
</div>
{% endblock %}